@import '~antd/dist/antd.css';

.contactbackground{
    position: absolute;
    top: 50;
    left: 0;
    text-align: center;
    right: 0;
    height: 40vh;
    width:100%;
    background-image: url('./constants/contactBackground.jpeg');
    background-size: cover;
    background-position: center;
}

.contactcard{
    position: absolute;
    top: 20rem;
    width: 50%;
    left: 0;
    text-align: center;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
}

.catalogueImage{
    text-align: center;
    padding:5%;
    margin: 10% 20% auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
   }

body{
    background: #F5F5F5;
}

.vvtext{
    font-family: Pacifico;
    font-size: 50px;
    color: #FBD50E;
    margin: 3% auto;
}

.vvtextYellow{
    font-family: Pacifico;
    color: #FBD50E;
}



.bg {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50;
    width: 80vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    border-radius: 50px;
  }

@media only screen and (max-width: 600px) {
    .catalogueImage{
        text-align: center;
        padding:5%;
        width: 100vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
       }
    .vvtext{
        margin-top: 15%;
        font-family: Pacifico;
        font-size: 40px;
    }
  }
