@import '~antd/dist/antd.css';

.catalogueImage{
    text-align: center;
    padding:5%;
    margin: 10% 20% auto;
    width: 300px;
   }

body{
    background: #F5F5F5;
}

@media only screen and (max-width: 600px) {
    .catalogueImage{
        text-align: center;
        padding:5%;
        margin: 5% 10% auto;
       }
    
  }